section{
    padding: 40px 0;
}

header{
    background: --tg-theme-bg-color;
    padding: 10px 0;
    text-align: center;
}

footer{
    background: --tg-theme-bg-color;
    padding: 30px 0;
}

.card{
    margin: 10px 0;
}

.card{
    height: 17rem;
}

.cst-nav{
    padding: 0 10px;
}