section{
    padding: 40px 0;
}

header{
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    padding: 10px 0;
    text-align: center;
}

footer{
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
    padding: 30px 0;
}

.card{
    margin: 10px 0;
}

.cst-card{
    min-height: 170.5px;
}

.cst-nav{
    padding: 0 10px;
}
